.title{
    margin-top: 10px;
    margin-left: 10px;
}

.flex{
    display: flex;
    justify-content: center;
}

.select{
    padding: 5px;
}

.button {
    margin-top: 10px;
    margin-left: 62px;
}